<h1>Encoder Tool</h1>

  <div class="field form-group">
<%= form_with url: encoder_uploads_path, multipart: true do |form| %>
  <label for="formFileSm" class="form-label">Please select the file to be verified: </label>
  <%= form.file_field :userfile, class:"form-control form-control-sm" %>
  </div>
<br>
  <div class="actions">
    <%= form.submit class:"btn btn-dark"%>
  </div>
<% end %>
